:root {
  --title-color: #11151C;
  --bg-color: #619B8A; 
  --border-color: #A1C181; 
}

.sfondo-titolo {
  background-color: var(--bg-color);
}

.titolo {
  color: var(--title-color);
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 30px;
}

table {
  border: 5px solid var(--border-color);
}

.sezione-scuole {
  background-color: #A1C181;
}

footer {
  background-color: #A1C181;
}